*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hanuman", serif;
    font-weight: 400;
    font-style: normal;
}

/* @import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap'); */


.pichalf{
    width: 100%;
    height: 800px;
    background-color: aquamarine;
    background-image: url(../IMG/p2.jpg);
    /* object-fit: cover; */
    /* background-repeat: no-repeat; */
    position: relative;
    margin-bottom: 50px;
}

.pichalf .shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    position: absolute;
}

.pichalf .word h1{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 150px;
    left: 30px;
}
.pichalf .word p{
    color: white;
    position: absolute;
    top: 530px;
    left: 30px;
} 

 .pichalf .author ul li a{
    color: white;
    position: absolute;
    list-style: none;
    text-decoration: none;
    top: 580px;
    left: 30px;
} 


#a1 {
    color: black;
    position: absolute;
    padding: 8px 30px;
    background-color: white;
    transition: 0.4s;
}

#a1:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: 1px solid white;
    transition: 0.4s;
}


#a2 {
    margin-left: 140px;
    color: white;
    position: absolute;
    /* top: 560px;
    left: 30px; */
    padding: 8px 30px;
    background-color: rgba(128, 128, 128, 0.579);
    transition: 0.4s;
}

#a2:hover {
    background-color: red;
    transition: 0.4s;
}


.menu {
    width: 100%;
    height: 70px;
    /* background-color: black; */
    padding: 0px 20px;
    display: flex;
    /* position: sticky; */
}

.menu .logo {
    width: 20%;
    height: 100%;
    /* background-color: aquamarine; */
}

.menu .logo img {
    width: 150px;
    height: 70px;
    /* object-fit: cover; */
}

.menu .link {
    width: 75%;
    height: 100%;
    /* background-color: blue; */
    align-items: center;
    display: flex;
    /* justify-content: center; */
    
}

.menu .icons {
    width: 5%;
    height: 100%;
    /* background-color: brown; */
    align-items: center;
    justify-content: right;
    display: flex;
}

.icons ul li {
    list-style-type: none;
}

.icons ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}


.link ul li {
    list-style-type: none;
}

.link ul {
    display: flex;
    
}

.link ul li a{
    text-decoration: none;
    margin-right: 30px;
    /* background-color: burlywood; */
    position: relative;
    color: white;
    font-size: 18px;
}

.link ul li a::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: red;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}

.link ul li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: white;
    bottom: -10px;
    right: 0;
}

.link ul li a:hover::before{
    width: 50%;
    transition: 0.5s;
}

.link ul li a:hover::after{
    width: 50%;
    transition: 0.5s;
}

.box1{
    width: 100%;
    height: 450px;
    /* background-color: aquamarine; */
    display: flex;
    position: relative;
    align-items: center;
}

.box1 .info h2{
    /* align-items: center; */
    display: flex;
    left: 30px;
    position: relative; 
    font-size:35px;
}


 .box1 h2::before{
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    background-color: black;
    bottom: -15px;
}  

.box1 .pic {
    width: 500px;
    height: 350px;
    /* background-color: brown; */
    position: absolute;
    top: 10px;
    left: 550px;
}

.box1 .pic img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}







.box2{
    width: 100%;
    height: 400px;
    /* background-color: blueviolet; */
    /* align-items: center; */
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.box2 .info h2{
    top: 120px;
    left: 30px;
    position: absolute; 
    font-size:35px;
}

.box2 h2::before{
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    background-color: black;
    bottom: -15px;
}  

.box2 .info ul li {
    bottom: 150px;
    /* margin-top: 20px; */
    left: 30px;
    position: absolute; 
    font-size:20px;
    /* background-color: aquamarine; */
    list-style-type: none;
}


.box2 .info ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 25px;
    border: 2px solid black;
}

.box2 .pic1 {
    width: 350px;
    height: 350px;
    /* background-color: aqua; */
    position: absolute;
    position: relative;
    left: 400px;
    background-color: white;
    margin-right: 80px;

}

.box2 .pic1 .pic{
    width: 100%;
    height: 50%;
    background-color: white;
    overflow: hidden;
}

.box2 .pic1 .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.4s;
}

.box2 .pic1 .pic img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.box2 .pic1 .text {
    width: 100%;
    height: 50%;
    /* background-color: white; */
    border: 1px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px;
    box-shadow: 1px 2px 3px gray;
    
}

.box2 .pic1 .text .text-link{
    width: 100%;
    height: 20%;
    /* background-color: aquamarine; */
   
}

.box2 .pic1 .text .text-link ul li {
    list-style-type: none;
    margin-bottom: 10px; 
}


.box2 .pic1 .text .text-link ul li a{
    text-decoration: none;
    color: black;
    padding: 2px 10px;
    background-color: rgb(224, 221, 221);
    border-radius: 4px;
    font-size: 14px;
}

.box2 .pic1 .text .text-link ul li a:hover{
    color: red;
}

.box2 .pic1 .news {
    width: 100%;
    height: 35%;
    /* background-color: blueviolet; */
}

.box2 .pic1 .news p {
    font-size: 15px;
    margin-bottom: 10px;
}

.box2 .pic1 .news p:hover{
    text-decoration: underline;
}

.box2 .pic1 .author {
    width: 100%;
    height: 45%;
    /* background-color: brown; */
    display: flex;
}

.box2  .pic1 .author .author-pic{
    width: 25%;
    height: 100%;
    /* background-color: burlywood; */
}

.box2  .pic1 .author .author-info{
    width: 75%;
    height: 100%;
    /* background-color: chartreuse; */
    margin-left: 15px;
}

.box2  .pic1 .author .author-info h3{
    font-weight: bold;
}

.box2  .pic1 .author .author-info .view{
    font-weight: bold;
}

.box2  .pic1 .author .author-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}





.box3 {
    width: 100%;
    height: 90px;
    /* background-color: aqua; */
    position: relative;
}

.box3 .box3-p1{
    font-size: 25px;
    position: absolute;
    top: 25%;
    left: 30px;
    font-weight: 600;
}

.box3 .box3-p2{
    font-size: 15px;
    color: red;
    position: absolute;
    right: 30px;
    top: 25%;
    font-weight: 400;
}


.box4 {
    width: 100%;
    height: 600px;
    /* background-color: brown; */
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
   
}

.box4 .box4-left{
    width: 60%;
    height: 100%;
    /* background-color: black; */
    position: relative;
    overflow: hidden;
    
}

.box4 .box4-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
    position: absolute;
}

.box4 .box4-left:hover img{
    transform: scale(1.1);
    transition: 0.4s;
}

.box4 .box4-left p{
    position: absolute;
    left: 50px;
    top: 150px;
    color: white;
    font-size: 20px;
    z-index: 2;
}

.box4 .box4-left p::before{
    content: "";
    width: 35px;
    height: 2px;
    background-color: red;
    bottom: -10px;
    left: 0px;
    position: absolute;
    z-index: 2;
}

.box4 .box4-left h3{
    position: absolute;
    width: 50%;
    left: 50px;
    top: 200px;
    color: white;
    font-size: 20px;
    font-size: 35px;
    z-index: 2;
    cursor: pointer;
}

.box4 .box4-left .shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.448);
    z-index: 2;
    position: absolute;
}


.box4 .box4-right{
    width: 39%;
    height: 100%;
}

.box4 .box4-right .box4-right-top{
    width: 100%;
    height: 49%;
    /* background-color: rgba(154, 32, 32, 0.925); */
    margin-bottom: 19px;
    position: relative;
    /* z-index: 2; */
    overflow: hidden;
}

.box4 .box4-right .box4-right-top .shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.485);
    z-index: 2;
    position: absolute;
}

.box4 .box4-right .box4-right-top:hover img{
    transform: scale(1.1);
    transform: 0.4s;
}

.box4 .box4-right .box4-right-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
    z-index: 1;
    transition: 0.4s;
}

.box4 .box4-right .box4-right-top p {
    position: absolute;
    font: 20px;
    color: white;
    top: 50px;
    left: 30px;
    z-index: 3;
}

.box4 .box4-right .box4-right-top p::before{
    content: "";
    width: 40px;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -10px;
}

.box4 .box4-right .box4-right-top h3 {
    position: absolute;
    z-index: 3;
    color: white;
    top: 100px;
    left: 30px;
    width: 40%;
    font-size: 25px;
    cursor: pointer;
}

.box4 .box4-right .box4-right-down{
    width: 100%;
    height: 48%;
    /* background-color: rgb(127, 255, 161); */
    position: relative;
    /* transition: 0.4s; */
    overflow: hidden;
} 

.box4 .box4-right .box4-right-down .shadow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.451);
    position: absolute;
    z-index: 2;
}

.box4 .box4-right .box4-right-down img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.box4 .box4-right .box4-right-down:hover img{
    transform: scale(1.1);
    transition: 0.4s;
}

.box4 .box4-right .box4-right-down p {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 40px;
    left: 30px;
    z-index: 3;
}

.box4 .box4-right .box4-right-down p::before{
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: red;
    content: "";
    bottom: -12px;
}

.box4 .box4-right .box4-right-down h3{
    width: 50%;
    position: absolute;
    color: white;
    font-size: 25px;
    left: 30px;
    top: 100px;
    z-index: 3;
    cursor: pointer;
}

.box5-space{
    width: 100%;
    height: 60px;
    /* background-color: aqua; */
}

.box5{
    width: 100%;
}

.box5 img{
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.box6{
    width: 100%;
    height: 450px;
    background-color: rgb(234, 34, 34);
    /* border: 2px solid rgb(234, 34, 34); */
    position: relative;
}

.box6 .box6-1{
    width: 300px;
    height: 200px;
    /* background-color: aqua; */
    position: absolute;
    left: 100px;
    display: f;
}

.box6 .box6-1 h3{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 60px;
}

.box6 .box6-1 h4 {
    color: white;
    font-weight: 400;
    top: 100px;
    position: absolute;
}

.box6 .box6-1 p {
    color: white;
    position: absolute;
    top: 200px;
    font-weight: 300;
}

.box6 .box6-1 .yt{
    width: 40px;
    height: 27px;
    /* background-color: blue; */
    position: absolute;
    top: 150px;
}

.box6 .box6-1 .yt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box6 .box6-1 .fb{
    width: 35px;
    height: 35px;
    /* background-color: blue; */
    position: absolute;
    left: 60px;
    /* background-color: white; */
    border-radius: 7px;
    position: absolute;
    top: 145px;
}

.box6 .box6-1 .fb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box6 .box6-1 .tk{
    width: 35px;
    height: 35px;
    /* background-color: blue; */
    position: absolute;
    left: 115px;
    background-color: white;
    border-radius: 7px;
    position: absolute;
    top: 146px;
}

.box6 .box6-1 .tk img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: white;
}

.box6 .box6-1 .tg{
    width: 35px;
    height: 35px;
    /* background-color: blue; */
    position: absolute;
    left: 170px;
    background-color: white;
    border-radius: 7px;
    padding: 2px;
    position: absolute;
    top: 146px;
}

.box6 .box6-1 .tg img{
    width: 90%;
    height: 90%;
    object-fit: cover;
    color: white;
}

.box6 .box6-2{
    width: 350px;
    height: 400px;
    /* background-color: aqua; */
    position: absolute;
    left: 40%;
    /* position: absolute; */
}

.box6 .box6-2 h3{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 60px;
    left: 35%;
}

.box6 .box6-2 table{
    color: white;
    position: absolute;
    top: 100px;
    left: 20%;
    font-size: 15px;
}

.box6 .box6-2 .busCam-logo {
    width: 120px;
    height: 120px;
    background-color: white;
    position: absolute;
    border-radius: 15px;
    top: 250px;
    left: 110px;
}

.box6 .box6-2 .busCam-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box6 .box6-2 .BusCam {
    top: 375px;
    left: 85px;
}

.box6 .box6-2 p {
    color: white;
    position: absolute;
    top: 405px;
    font-size: 13px;
    left: 35px;
}

.box6 .box6-3{
    width: 30%;
    height: 200px;
    /* background-color: aqua; */
    position: absolute;
    right: 50px;
}

.box6 .box6-3 h3{
    color: white;
    font-weight: bold;
    top: 60px;
    right: 60px;
    position: absolute;
}

.box6 .box6-3 .tel{
    color: white;
    position: absolute;
    right: 60px;
    top: 110px;
    font-weight: 300;
}

.box6 .box6-3 .address{
    color: white;
    position: absolute;
    top: 150px;
    right: 60px;
    width: 350px;
    text-align: end;
}

.box7{
    width: 100%;
    height: 65px;
    /* background-color: aqua; */
    position: relative;
}

.box7 .pic{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 100px;
    top:29%;
}

.box7 .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box7 .p1{
    position: absolute;
    left: 115px;
    top: 22%;
}

.box7 .p2{
    position: absolute;
    top: 22%;
    right: 110px;

}

.box7 .p2 a{
    text-decoration: none;
}

.box7 .p2 a:hover{
    text-decoration: underline;
}
